.news {
  background: #f7f7f7;
  padding: 64px 64px 32px 64px;
  position: relative;
  .news__blocks {
    display: flex;
    .allNews {
      padding: 16px;
      width: 304px;
      height: 1550px;
      background: #ffffff;
      border-radius: 12px;
      .allNews__items {
        margin-top: 34px;
        .allNews__items-item {
          .bold {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #182840;
          }
          .fire {
            span {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              color: #ff7534;
            }
          }
          .subdesc {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            color: #979ea9;
            .span {
              display: block;
              margin-top: 5px;
            }
            img {
              margin-right: 12px;
            }
          }
          padding-top: 24px;
          .desc {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #182840;
            padding-bottom: 24px;
            border-bottom: 1px solid #ebebeb;
            .time {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #707070;
            }
          }
        }
      }

      .allNews__title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 36px;
        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 140%;
          color: #2d2d2d;
        }
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          color: #182840;
        }
      }
      .allNewss__categories {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        .news__categories-item {
          margin-right: 24px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: #919191;
          padding: 3px 10px;
        }
        .active {
          color: #ff7534;

          background: #ffeae0;
          border-radius: 4px;
        }
      }
    }
    .categoryNews {
      width: 100%;
      height: 1495px;
      margin-left: 32px;
      .categoryNews__regions {
        .categoryNews__regions-title {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 130%;
          color: #2d2d2d;
          margin-bottom: 32px;
        }
        .categoryNews__regions__cols {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 727px;
          gap: 16px;
          .categoryNews__regions__cols-col {
            position: relative;
            background-color: #fff;
            padding: 16px;
            border-radius: 12px;
            width: 90%;
            .title {
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 140%;
              color: #2d2d2d;
              margin-bottom: 24px;
              
            }
            .items__wrap{
                position: absolute;
                width: 90%;
                z-index: 1;
            }
            .more{
                position: absolute;
                bottom: 37px;
                display: block;
                z-index: 2;
                width: 90%;
                cursor: pointer;
                &:after{
                    content: url(../img/news/arrow_right.png);
                    width: 30px;
                    height: 30px;
                    border: 1px solid rgb(131, 129, 129);
                    border-radius: 100%;
                    margin-left: 16px;
                    position: absolute;
                    padding-top: 6px;
                    padding-left: 5px;
                    top: -3px;
                }
            }
            .date {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 140%;
              text-transform: uppercase;
              color: #f3560c;
              margin-bottom: 12px;
            }
            .time {
              font-family: "TT Severs";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              color: #707070;
              background-repeat: 5px;
            }
            .item {
                margin-top: 12px;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 140%;
              color: #182840;
              padding-bottom: 16px;
              border-bottom:1px solid #EBEBEB; 
              margin-bottom: 12px;
            }
          }
        }
      }
      .categoryNews__choise {
        height: 50%;
      }
      .categoryNews__choise-title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        color: #2d2d2d;
        margin-bottom: 32px;
      }
      .categoryNews__choise__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 32px;

        .categoryNews__choise-item {
          width: 100%;
          img {
            width: 100%;
            margin-bottom: 18px;
          }
          .data {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            color: #707070;
            margin-bottom: 10px;
          }
          .desc {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            color: #182840;
          }
        }
      }
    }
    .allNews__loadMore {
      border: 1px solid rgb(126, 124, 124);
      border-radius: 6px;
      height: 40px;
      position: absolute;
      bottom: 50px;
      width: 260px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #182840;
      cursor: pointer;
      &::before {
        content: url(../img/news/storke.png);
        margin-right: 5px;
        margin-top: 3px;
      }
    }
  }
}
